.mint {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
  background-color: white;
}

.nft-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.mint-container {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: white;
}

.mint-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.mint-container > form > h5 {
  margin-bottom: 5px;
}

.mint-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 97%;
  padding: 4px;
}

.mint-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.register-btn {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
